a { color:#AB8928; } 
a:visited { color:#AB8928; } 
a:active { color:#261F09; } 
a:hover { color:#342A0C; } 
#menu_3c89489e a { text-decoration: none; }
#menu_3c89489e_pane { background-color: #AB8928; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 10px #888;}
#menu_3c89489e_hr { background-color: #000000; height: 1px; border: none; }
#menu_3c89489e_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3c89489e_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3c89489e_entry:hover span { color:#FFFFFF !important; }
		.menu_3c89489e_mainMenuEntry { text-align: center; }
		.menu_3c89489e_mainMenuEntry:hover {	background-color:#504013; }
		.menu_3c89489e_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3c89489e .mobileEntry { display: none; } 
		#menu_3c89489e .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_3c89489e .mobileEntry { display: block; } 
			#menu_3c89489e .normalEntry { display: none; } 
		}
body { background-color:#8F8F8F; background: linear-gradient(to bottom, #F8F8F8, #8F8F8F); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_5806d7d8 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:466px; max-width:1200px; background-color:#FFFFFF;  }
#container_5806d7d8_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_66793a4f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background-color:#FFFFFF;  }
#container_66793a4f_padding { margin: 10px; display: block;  }
#img_7e041a8c { vertical-align: bottom; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:5%; background:none;  }
.textstyle3 { font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#AB8928; font-weight:bold; text-shadow: 4px 4px 4px #A1A1A1;  }
#container_7af4dfa0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background-color:#400000;  }
#container_7af4dfa0_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-style:italic; font-weight:bold;  }
#menu_3c89489e { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:55px; text-align:left; background-color:#AB8928;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:85px; height:55px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle6 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style4 { position:absolute; width:102px; height:55px; left:95px;  }
.style5 { position:absolute; width:105px; height:55px; left:197px;  }
.style6 { position:absolute; width:100px; height:55px; left:302px;  }
.textstyle7 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#placeh_73249144 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; border: 1px solid #A0A0A0;  }
#container_6848ba0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6848ba0_padding { margin: 10px; display: block;  }
#img_489b3d8 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#container_2ee72f7e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:47px; background:none;  }
#container_2ee72f7e_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_7d35d100 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_7d35d100_padding { margin: 10px; display: block;  }
#img_3a41f573 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#img_5531188a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_540f65a5 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_2591842a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_406604df { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_956f2ba { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5cbd2978 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_27858737 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_61d4c6b3 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_722b2bda { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_478d810d { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_13c9e25a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#container_3ca701ed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:44px; background:none;  }
#container_3ca701ed_padding { margin: 10px; display: block;  }
#container_593f5171 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_593f5171_padding { margin: 10px; display: block;  }
#img_6b0ba376 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_18a53080 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_38dcaec { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#container_6b6534ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:47px; background:none;  }
#container_6b6534ab_padding { margin: 10px; display: block;  }
#container_6058d15 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:101px; background:none;  }
#container_6058d15_padding { margin: 10px; display: block;  }
#img_1fbec4f5 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_56357dc7 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#container_1d0e9860 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background-color:#AB8928;  }
#container_1d0e9860_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle13 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#img_7e041a8c { width:6%;  }
}
@media only screen and (max-width: 700px)
{
		#img_7e041a8c { width:7%;  }
}
@media only screen and (max-width: 640px)
{
		#container_5806d7d8 { width:100%;  }
		#container_66793a4f * span { font-size:24pt;  }
}
@media only screen and (max-width: 550px)
{
		#img_7e041a8c { width:8%;  }
}
@media only screen and (max-width: 435px)
{
		#container_66793a4f * span { font-size:19pt;  }
}
@media only screen and (max-width: 370px)
{
		#container_66793a4f * span { font-size:12pt;  }
}
