a { color:#AB8928; } 
a:visited { color:#AB8928; } 
a:active { color:#261F09; } 
a:hover { color:#342A0C; } 
#menu_3c89489e a { text-decoration: none; }
#menu_3c89489e_pane { background-color: #AB8928; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 10px #888;}
#menu_3c89489e_hr { background-color: #000000; height: 1px; border: none; }
#menu_3c89489e_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3c89489e_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3c89489e_entry:hover span { color:#FFFFFF !important; }
		.menu_3c89489e_mainMenuEntry { text-align: center; }
		.menu_3c89489e_mainMenuEntry:hover {	background-color:#504013; }
		.menu_3c89489e_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3c89489e .mobileEntry { display: none; } 
		#menu_3c89489e .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_3c89489e .mobileEntry { display: block; } 
			#menu_3c89489e .normalEntry { display: none; } 
		}
body { background-color:#8F8F8F; background: linear-gradient(to bottom, #F8F8F8, #8F8F8F); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_5806d7d8 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:466px; max-width:1200px; background-color:#FFFFFF;  }
#container_5806d7d8_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_66793a4f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background-color:#FFFFFF;  }
#container_66793a4f_padding { margin: 10px; display: block;  }
#img_7e041a8c { vertical-align: bottom; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:5%; background:none;  }
.textstyle3 { font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#AB8928; font-weight:bold; text-shadow: 4px 4px 4px #A1A1A1;  }
#container_7af4dfa0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background-color:#400000;  }
#container_7af4dfa0_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-style:italic; font-weight:bold;  }
#menu_3c89489e { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:55px; text-align:left; background-color:#AB8928;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:85px; height:55px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle6 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style4 { position:absolute; width:102px; height:55px; left:95px;  }
.style5 { position:absolute; width:105px; height:55px; left:197px;  }
.style6 { position:absolute; width:100px; height:55px; left:302px;  }
.textstyle7 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#placeh_73249144 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; border: 1px solid #A0A0A0;  }
#container_50443472 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_50443472_padding { margin: 10px; display: block;  }
#img_19c14bed { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#container_71742726 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:47px; background:none;  }
#container_71742726_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_70082cb5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_70082cb5_padding { margin: 10px; display: block;  }
#img_73996d52 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#img_35ba7929 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_3cd48ec6 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_57c4570b { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_8426eec { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_1f6f53af { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_3c1faa89 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5aafb388 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_144d08a2 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_26814feb { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_7dca7163 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_4330c70a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_48551c62 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_6bdac23a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_7a6892a9 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_24d71f8 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_338048cb { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_3f6c1d6e { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_746fb { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5b96fe84 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_4d10e638 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_549e4baf { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5b294741 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_3886a503 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_1f0f9a1a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_1fb17606 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_67d4aae8 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_6d213c66 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_67d92919 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_19ccd5 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_13fd8130 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_75b2acaf { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_57b27e8e { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_1c784f3e { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_7766e258 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_2c014312 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_1afc0df5 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_ff4d98b { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5cfc6b95 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5772fcb4 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_b311b30 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_629472c { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_775b86c0 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_36726bd2 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_6c099b27 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5fd62683 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5290aaf6 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_1c2e4596 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_64d1fad2 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_459ea715 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_7f1820a4 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_72f2941a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_249f2627 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_8b0cdcc { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_32cdd952 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_290ae008 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_3ae6e92c { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_7a8be68c { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_45af676f { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_a654df7 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_7c09b130 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_265c584b { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_4f3d70ba { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_6c4ac3bb { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_235b3471 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_7fa4a591 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_71ee6381 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_4679c26e { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_4c34b976 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_7873afe4 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_20a9e547 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_6140412c { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_592de73b { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_e09eb27 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_5739606 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_126a09f0 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_6c2e7525 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_4e74e4a7 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_2ec4c19a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_4458f57e { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_80c8255 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_213b06d { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_3fce3e55 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_50c152 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_9edd8f6 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#img_3fcb1e40 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:5%; background:none;  }
#container_1d0e9860 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background-color:#AB8928;  }
#container_1d0e9860_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle13 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#img_7e041a8c { width:6%;  }
}
@media only screen and (max-width: 700px)
{
		#img_7e041a8c { width:7%;  }
}
@media only screen and (max-width: 640px)
{
		#container_5806d7d8 { width:100%;  }
		#container_66793a4f * span { font-size:24pt;  }
}
@media only screen and (max-width: 550px)
{
		#img_7e041a8c { width:8%;  }
}
@media only screen and (max-width: 435px)
{
		#container_66793a4f * span { font-size:19pt;  }
}
@media only screen and (max-width: 370px)
{
		#container_66793a4f * span { font-size:12pt;  }
}
